{% extends "base.html" %}

{% block title_head %}
<title>Notebooks</title>
{% endblock title_head %}

{% block h1_header %}
Notebooks
{% endblock h1_header %}

{% block main %}

<p>
    <a href={% url "crear_notebook" %}>Crear Notebook</a>
</p>

<form action="">
    {% comment %} <input type="text" name="marca" placeholder="mac book, apple, ..."> {% endcomment %}
    {{formulario}}
    <input type="submit" value="Buscar">

{% if listado_de_notebooks %}
<ul>
    {% for notebook in listado_de_notebooks %}
    <li>{{notebook}} | <a href={% url "actualizar_notebook" notebook.id %}>Actualizar</a> | <a href={% url "eliminar_notebook" notebook.id %}>Eliminar</a> | <a href={% url "detalle_notebook" notebook.id %}>Ver mas...</a> </li>
    {% endfor %}
</ul>
{% else %}
<p>No se encontraron resultados.</p>
{% endif %}

{% endblock main %}
